---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Learn about the person behind 'A Book in the Hand' and my literary journey"
	pubDate={new Date('January 06 2025')}
	heroImage="/sk-notion-face.png"
>
	<p>
		Hi, my name is Sabtain. I live in Brooklyn and love to read books and chat about them with friends. I started my more serious reading journey in 2015 and have since read hundreds upon hundreds of books, and I'm not done yet.
	</p>
</Layout>
