---
const today = new Date();
---

<footer>
	<div class="footer-content">
		&copy; {today.getFullYear()} A Book in the Hand. All rights reserved.
	</div>
</footer>
<style>
	footer {
		padding: 3rem 0;
		background: var(--background);
		color: rgb(var(--gray));
		font-size: 0.85rem;
	}
	
	.footer-content {
		max-width: 1400px;
		margin: 0 auto;
		padding: 0 1rem;
		text-align: left;
	}
	
	@media (max-width: 720px) {
		.footer-content {
			padding: 0 1rem;
		}
	}
	
	@media (max-width: 480px) {
		.footer-content {
			padding: 0 0.75rem;
		}
	}
</style>
